.navigation{
    margin: 26px 0;
    display: flex;

    a{
        margin: 10px;
        padding: 10px;
        position: relative;
    }

    .nav-active{
        &::after{
            content: '';
            width: 85%;
            height: 5PX;
            background: $color-1;
            position: absolute;
            bottom: 1px;
            left: 50%;
            transform: translateX(-50%);


        }
    }

}

// pourquoi .navigation parce que toute les choses que je vais appeller à l'intérieur. ça va être englobéà l'intérieur de {}. 
// Le style {} sera appliqué aux div qui sont contenues par navigation.